body {
    background: rgb(0, 255, 213) url("/img/tra.png") no-repeat fixed bottom left;
    text-align: center;
    font-size: 30px;
}

button {
    border: 2px solid black;
    font: 40%;
    padding: 15px 50px;
    margin: 30px 2px;
}

button:hover {
    background-color: #ec8fd0
}

button:active {
    background-color: #a3a8a3;
    transform: translateY(2px);
}

h1 {
    border: 4px solid black;
}

.Bttn {
    font-size: 70%;
    text-align: center;
}

.counter {
    margin-left: 50%;
    font-size: 50px;
}

.name {
    font-size: 20px;
    padding: 15px;
    border: none;
    height: 30px;
    width: 500px;
    margin: 30px;
}

.textDisplay {
    text-transform: capitalize;
}

input {
    /* padding: 15px; */
    height: 20px;
    width: 70px;
    /* margin: 30px; */
}


/* .radio {
    height: 50px;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    
} */

.clearBttn {
    font-size: 70%;
}

.errors {
    color: red;
}